@font-face {
    font-family: 'Caveat Regular';
    font-weight:normal;
    font-style:normal;
    src:url('../fonts/Caveat-Regular.eot');
    src:url('../fonts/Caveat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Caveat-Regular.woff') format('woff'),
        url('../fonts/Caveat-Regular.ttf') format('truetype');
}