@import './reset';

$pink:#f0145a;
$white: white;
$blue: #323264;


body{
    font-size: 16px;
    line-height: (22/16);
    font-family: sans-serif;
   // background: $white;
}

#wrapper{
    position: relative;
    overflow-x: hidden;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 60px; 
}

a {
    transition: color .3s ease;;
}

.main-bg {
    position: relative;
    background: linear-gradient(42.01deg, $blue 14.33%, $blue 51.39%, #7A425E 87.53%);
    border-radius: 0 0 12px 12px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: -10px;
        height: 10px;
        background:#CACADB;
        border-radius: 0 0 12px 12px;
    } 
    &:after {
        left: 40px;
        right: 40px;
        bottom: -20px;
        background:#E7E7F2;
     
    }
}

.header {
    padding-top: 50px;
    color: $white;

    &__logo{
        width: 155px;
        margin-right: 20px;
    }
    &__content{
        width: calc(100% - 175px);
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    &__information{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 16px;

        address{
            font-style: normal;
            font-weight: 400;
        }

        li {
        > ul {
            display: flex;
            flex-wrap: wrap;
            justify-content:center;

            li{
                margin-left: 10px;
            }

            a{
                font-size: 12px;
                line-height: (14/12);
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                position: relative;
                z-index: 1;

            &:before{
                transition: background .3s ease;
                will-change:  background;
                content: '';
                position: absolute;
                width: 29px;
                height: 24px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: transparent;
                border-radius:8px;
                z-index: -1;
}

            &.active,
            &:hover {
                &:before {
                    background: $pink;
                }
            }
            }
        }

        margin-left: 20px;

        a {
            color: $white;  
            text-decoration: none; 
            font-weight: 700;
        }
        }
    }

    &__nav{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        font-size: 18px;
        line-height: (21/18);

        li{
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
            a{
                color:$white;
                text-decoration: none;

                &:hover{
                    color:$pink; 
                }
            }

        }
    }

    .container{
        display: flex;
        flex-wrap: wrap;
    }
}

.hero{
    margin-bottom: 80px;
    overflow: hidden;
    background: no-repeat;
    background-position: 50% 50%;
    background-size: 689px;
    min-height: calc(100vh - 113px);
    position: relative;
    display: flex;
    align-items: center;

    @media (max-width:1024px) {
        background-image: none !important; 
    }

    &:after{
        content: '';
        left:0;
        right:0;
        bottom:0;
        height:200px;
        position: absolute;
        background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, $blue 100%);
    }

    &__link {
        transition: color .3s ease, background-color .3s ease;
        will-change: color, background-color;
        width: 42px;
        height: 42px;
        border: 1px solid $white;
        display: flex;
        align-items:center;
        justify-content: center;
        border-radius: 50%;
        color:$white;
        text-decoration: none;
        line-height: 42px;
        transform:        rotate(90deg)translate(0,50%);
        font-weight: bold;
        font-size: 23px;
        position: absolute;
        bottom: 20px;
        left:50%;
        z-index: 9;

        &:hover{
            background-color: $white;
            color: #323424;
        }
    }

    .container {
        text-align: center;
        // width: 100%;
    }

    h1{
        color: $white;
        font-family: 'TT Norms',sans-serif;
        font-size: 38px;
        line-height: 45px;
        position: relative;
        z-index: 9;
    }

    img{
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 100px;
        transform: translate(-50%, 0);
        height: 687px;

        @media (min-width:1024){
            top: 185px;
            height: 687px;
        }
    }
}

.advantages{
    padding-bottom: 80px;

    &__nav{
        font-weight: 700;

        @media (min-width: 1024px) {
            width: 40%;
            text-align: right; 
        }

        ul{
            position: relative;
            border-right: 4px solid #e6e6f0;
            
        }

        li{
            font-size: 36px;
            line-height: (44/36);
            margin-bottom: 20px;
            
        }

        a{
            color: #B3B3BA;
            text-decoration: none;
            padding-right: 40px;
            border-right: 4px solid transparent;
            margin-right: -4px;
            display: block;

            &.active,
            &:hover {
                color: $pink;
                background: linear-gradient(-270deg, #EF8080 40%, #F0145A);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                border-right-color: $pink;
                }
            }
        }

    

    &__info{
        color:$white;

        @media (min-width: 1024px) {
            padding: 40px;
            width: 60%;
        }

        h2 {
            font-size: 22px;
            line-height: (26/22);
            margin-bottom: 15px;
       
            @media (min-width: 1024px) {
                margin-bottom: 20px;
                font-size: 32px;
                line-height: (38/32);
            }
        }

        p {
            font-size: 18px;
            line-height: (26/18);

            @media (min-width: 1024px){
                font-size: 21px;
                line-height: (30/21); 
            }
        }
    
    }

    .container{
        max-width: 1200px;

        @media (min-width: 1024px){
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }
}

.services {
    margin: 0 0 20px;

   @media (min-width: 1024px){
    margin: 0 0;
    }

    &__headings{
        margin-bottom: 40px;
    }

    &__link {
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        opacity: 0.5; 
        margin-bottom: 3px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px; 
        
        &:hover {
            background: $white;
            color: $blue;
        } 
    }

    &__title{
        width: calc(100% - 40px);
        min-height: 76px;   
        font-size: 32px;
        line-height: 37px;
        color: black;
        background-clip:text;
        background: linear-gradient(45deg, $pink, #EF8080);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (min-width: 1024px) {
            font-size: 42px;
            min-height: (50/42);  
        }
    }

    &__blockLine {
        @media (min-width: 1024px){
            display: flex;
            justify-content: space-between;
        }
    }

    &__blockColumn {
        width: 100%;
        margin-bottom: 40px;
        color: $white;
        font-size: 16px;
        line-height: (22/16);

            @media (min-width: 1024px){
                max-width: 413px;
                font-size: 18px;
                line-height: (26/18);
            }
      
    }

    &__blockColumnIcon {  
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 10px;
        width: calc(100% - 114px);
        color:  #24A3FF;
        margin-left: 10px;
        font-size: 18px;
        line-height: (21/18);


        @media (min-width: 1024px){
            margin-left: 0;
            width: auto;
            margin-bottom: 15px;
            flex-direction: column;
            align-items: flex-start;
        }

        picture {
            display: flex;
            background-color: $white;
            border-radius: 18px;
            -webkit-border-radius: 18px;
            -moz-border-radius: 18px;
            -ms-border-radius: 18px;
            -o-border-radius: 18px;
            width: 64px;
            height: 64px;
    
            @media (min-width: 1024px){
                width: 92px;
                height: 92px;
                justify-content: center;
                align-items: center;
                margin:0 20px 20px;
            }
    
            img {
                padding: 10px;
    
            @media (min-width: 1024px) {
                    width: 64px;
                    height: 64px;
                    padding: 0;
                }
            }
        }
    }
}

.team {

//     .container {
//         padding: 40px 40px; 
//         background: #F5F5FA;
//     }


//     //background: #F5F5FA; 
     margin-top: 40px;
     margin-bottom: 40px;
     min-height: calc(100vh - 200px);

    @media (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
    }

        &__wrapper{
            background: #F5F5FA;
            border-radius: 12px;
            overflow: hidden;
            min-height: calc(100vh - 170px);
            
        }

        &__heading {

            @media (min-width: 1024px) {
                position: absolute;
                margin-left: 430px;      
            }
            
        }

        a {
            text-decoration: none;
            color: #24A3FF;
            padding: 20px 0 3px 21px;
            font-size: 14px;
            line-height: (17/14);
            letter-spacing: 1px;
            font-weight: bold;
            text-transform: uppercase;
        
            &:hover {
                color:red;
            }
        }
        
        h3 {
            padding: 0 60px 0 21px;
            min-height: 36px;   
            font-size: 25px;
            line-height: (36/30);
            margin-bottom: 10px;
            color: black;
            background-clip:text;
            background: linear-gradient(45deg, #F0145A, #EF8080);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
            @media (min-width: 1024px) {
                font-size: 35px;
                line-height: (40/35);
                letter-spacing: 1px;        
            }
        }

        &__photo{
            display: inline-block;
            margin-left: 25px;

            @media (min-width: 1024px) {      
                position: relative;
                display: flex;
                flex-wrap: wrap;
                padding: 40px, 40px, 40px, 40px;
                margin-left: -20px;
                }

                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 120px;
                
                    @media(min-width: 1024px){
                        min-width: none;
                        width: 413px;
                        min-height: 500px;
                        border-radius: 0px;
                    }
                } 

                h4 {
                    font-size: 15px;
                    line-height: (21/15);
                    color: #B3B3BA;
                        
                    @media (min-width: 1024px) {
                        position: absolute;
                        margin: 300px 0 0 470px;
                    }
                    }

                p {
                    position: absolute;
                    font-size: 16px;
                    line-height: (22/16);
                    color: #B3B3BA;
                                
                    @media (min-width: 1024px) {
                        position: absolute;
                        margin: 320px 0 0 470px;
                        }
                    }
        }

}

.cases{
    margin-bottom: 30px;

    &__wrapper{
        background: #F5F5FA;
        border-radius: 12px;
        overflow: hidden;
    }

    &_row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__col{
        padding: 20px;
        border-right: 1px solid $white;
        border-bottom: 1px solid $white;
        flex: 1 1 auto;
        align-self: flex;
    }

    h4 {
        padding: 0 20px 20px;
        font-size: 14px;
        line-height: (17/14);
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $pink;
        border-right: none;
        border-bottom: 1px solid $white;
        margin: 0 -20px 20px;
    }

    span {
        font-size: 18px;
        line-height: (26/18);
        color: #B3B3BA;
    }

    

}   

.publications {
   background: #F5F5FA;

    &__col {
        @media (min-width: 1024px) {
            width: calc(33.332% - 40px);
            margin: 0 20px 40px;
        }
    }
    &__row {
        position: relative;

        @media (min-width: 1024px) {
            padding-top: 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -20px;
            max-height: 750px;
            overflow: hidden;
        }

        &:after{
            content: '';
            left:0;
            right:0;
            bottom:0;
            height:300px;
            position: absolute;
            background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
        }
    }

    &__link{
        font-size: 14px;
        line-height: (17/14);
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color:#24A3FF;
        position: relative;
        font-weight: 700;

        &:after{
            content: '\02c3';
            position: absolute;
            right: -20px;
            top: 50%;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
        }

        &:hover {
            background: $white;
            color: $blue;
            } 

    }

    &__btn {
        transition: background .3s ease;
        will-change: background;
        position: absolute;
        left: 50%;
        bottom: 280px;
        transform: translate(-50%, 0);
        background:#24A3FF;
        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
        border-radius: 12px;
        color: white;
        padding: 16px;
        font-weight: bold;
        font-size: 14px;
        line-height: (17/14);
        text-decoration: none;
        min-width: 250px;
        text-align: center;
    
        &:hover {
            background: $blue;
        }

        @media (min-width: 1024px) {
            bottom: 165px; 
        }
    }

    &__article {
        background: $white;
        overflow: hidden;
        border-radius: 8px;     
        margin-top: 20px;

        &__content {
            padding: 20px;
            font-size: 16px;
            line-height: (22/16);

            h3{
                font-size: 18px;
                line-height: (21/18);
                color: #24A3FF;
                margin-bottom: 10px;
            }

            time{
                margin-bottom: 20px;
                display: block;
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #B3B3BA;
            }

            p {
                border-top: 4px solid #E6E6F0;
                padding-top: 20px;
            }
        }

        img {
            margin-bottom: 20px;
            width: 100%;
            object-fit: cover;
        }       
    }

    h1 {
        color: #f0145a;
        background: linear-gradient(-270deg,#EF8080, #F0145A);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 42;
        line-height: (50\42);
    }

}

.footer {
    background: #F5F5FA;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: (19/16);
    color:#323264;
    margin-bottom: -20px;
     
    .container{
        padding-top: 20px;
        //padding: 40px 40px; 
        @media (min-width: 1024px) {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        } 
    }

     @media (min-width: 1024px) {
        &__info1,
        &__info2 {
            display: flex;
            align-items: center;
            margin-left: -40px;
            //justify-content: center;
        }
    }

    li {
        margin-bottom: 20px;
        margin-left: -40px;
        align-items:center;
        @media (min-width: 1024px) {
            margin: 0 47px 31px 0;
        }
    }

    a {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: (14/12);
    letter-spacing: 1px;
    text-transform: uppercase;
    color:#24A3FF;
    justify-content: center;;
    }

    p{
    color:#B3B3BA;
    }

}