@import './reset';

$pink:#f0145a;
$white: white;
$blue: #323264;


body{
    font-size: 16px;
    line-height: (22/16);
    font-family: sans-serif;
}

#wrapper{
    position: relative;
    overflow-x: hidden;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 60px; 
}

.main-bg {
    background: linear-gradient(42.01deg, $blue 14.33%, $blue 51.39%, #7A425E 87.53%);
}

.header {
    padding-top: 50px;
    color: $white;

    &__logo{
        width: 155px;
        margin-right: 20px;
    }
    &__content{
        width: calc(100% - 175px);
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    &__information{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 16px;

        address{
            font-style: normal;
            font-weight: 400;
        }

        li {
        > ul {
            display: flex;
            flex-wrap: wrap;
            justify-content:center;

            li{
                margin-left: 10px;
            }

            a{
                font-size: 12px;
                line-height: (14/12);
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                position: relative;
                z-index: 1;

            &:before{
                transition: background .3s ease;
                will-change:  background;
                content: '';
                position: absolute;
                width: 29px;
                height: 24px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: transparent;
                border-radius:8px;
                z-index: -1;
}

            &.active,
            &:hover {
                &:before {
                    background: $pink;
                }
            }
            }
        }

        margin-left: 20px;

        a {
            color: $white;  
            text-decoration: none; 
            font-weight: 700;
        }
        }
    }

    &__nav{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        font-size: 18px;
        line-height: (21/18);

        li{
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
            a{
                color:$white;
                text-decoration: none;

                &:hover{
                    color:$pink; 
                }
            }

        }
    }

    .container{
        display: flex;
        flex-wrap: wrap;
    }
}

.hero{
    margin-bottom: 80px;
    overflow: hidden;
    background: no-repeat;
    background-position: 50% 50%;
    background-size: 689px;
    min-height: calc(100vh - 113px);
    position: relative;
    display: flex;
    align-items: center;

    @media (max-width:1024px) {
        background-image: none !important; 
    }

    &:after{
        content: '';
        left:0;
        right:0;
        bottom:0;
        height:200px;
        position: absolute;
        background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, $blue 100%);
    }

    &__link {
        transition: color .3s ease, background-color .3s ease;
        will-change: color, background-color;
        width: 42px;
        height: 42px;
        border: 1px solid $white;
        display: flex;
        align-items:center;
        justify-content: center;
        border-radius: 50%;
        color:$white;
        text-decoration: none;
        line-height: 42px;
        transform:        rotate(90deg)translate(0,50%);
        font-weight: bold;
        font-size: 23px;
        position: absolute;
        bottom: 20px;
        left:50%;
        z-index: 9;

        &:hover{
            background-color: $white;
            color: #323424;
        }
    }

    .container {
        text-align: center;
        // width: 100%;
    }

    h1{
        color: $white;
        font-family: 'TT Norms',sans-serif;
        font-size: 38px;
        line-height: 45px;
        position: relative;
        z-index: 9;
    }

    img{
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 100px;
        transform: translate(-50%, 0);
        height: 687px;

        @media (min-width:1024){
            top: 185px;
            height: 687px;
        }
    }
}

.advantages{
    margin-bottom: 80px;

    &__nav{
        font-weight: 700;

        @media (min-width: 1024px) {
            width: 40%;
            text-align: right; 
        }

        ul{
            position: relative;
            border-right: 4px solid #e6e6f0;
            
        }

        li{
            font-size: 36px;
            line-height: (44/36);
            margin-bottom: 20px;
            
        }

        a{
            color: #B3B3BA;
            text-decoration: none;
            padding-right: 40px;
            border-right: 4px solid transparent;
            margin-right: -4px;
            display: block;

            &.active,
            &:hover {
                color: $pink;
                background: linear-gradient(-270deg, #EF8080 40%, #F0145A);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                border-right-color: $pink;
                }
            }
        }

    

    &__info{
        color:$white;

        @media (min-width: 1024px) {
            padding: 40px;
            width: 60%;
        }

        h2 {
            font-size: 22px;
            line-height: (26/22);
            margin-bottom: 15px;
       
            @media (min-width: 1024px) {
                margin-bottom: 20px;
                font-size: 32px;
                line-height: (38/32);
            }
        }

        p {
            font-size: 18px;
            line-height: (26/18);

            @media (min-width: 1024px){
                font-size: 21px;
                line-height: (30/21); 
            }
        }
    
    }

    .container{
        max-width: 1200px;

        @media (min-width: 1024px){
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }
}

.services {
    margin: 0 0 20px;

   @media (min-width: 1024px){
    margin: 0 0 68px;
    }

    &__link {
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        opacity: 0.5; 
        margin-bottom: 3px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px; 
        
        &:hover {
            background: $white;
            color: $blue;
        } 
    }

    &__title{
        width: calc(100% - 40px);
        min-height: 76px;   
        font-size: 32px;
        line-height: 37px;
        color: black;
        background-clip:text;
        background: linear-gradient(45deg, $pink, #EF8080);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (min-width: 1024px) {
            font-size: 42px;
            min-height: (50/42);  
        }
    }

    &__blockLine {
        @media (min-width: 1024px){
            display: flex;
            justify-content: space-between;
        }
    }

    &__blockColumn {
        width: 100%;
        margin-bottom: 40px;
        color: $white;
        font-size: 16px;
        line-height: (22/16);

            @media (min-width: 1024px){
                max-width: 413px;
                font-size: 18px;
                line-height: (26/18);
            }
      
    }

    &__blockColumnIcon {  
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 10px;
        width: calc(100% - 114px);
        color:  #24A3FF;
        margin-left: 10px;
        font-size: 18px;
        line-height: (21/18);


        @media (min-width: 1024px){
            margin-left: 0;
            width: auto;
            margin-bottom: 15px;
            flex-direction: column;
            align-items: flex-start;
        }

        picture {
            display: flex;
            background-color: $white;
            border-radius: 18px;
            -webkit-border-radius: 18px;
            -moz-border-radius: 18px;
            -ms-border-radius: 18px;
            -o-border-radius: 18px;
            width: 64px;
            height: 64px;
    
            @media (min-width: 1024px){
                width: 92px;
                height: 92px;
                justify-content: center;
                align-items: center;
                margin:0 20px 20px;
            }
    
            img {
                padding: 10px;
    
            @media (min-width: 1024px) {
                    width: 64px;
                    height: 64px;
                    padding: 0;
                }
            }
        }
    }
}

.publications {
   background: #F5F5FA;

    &__col {
        @media (min-width: 1024px) {
            width: calc(33.332% - 40px);
            margin: 0 20px 40px;
        }
    }
    &__row {
        position: relative;

        @media (min-width: 1024px) {
            padding-top: 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -20px;
        }

        &:after{
            content: '';
            left:0;
            right:0;
            bottom:0;
            height:300px;
            position: absolute;
            background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
        }
    }

    &__btn {
        transition: background .3s ease;
        will-change: background;
        position: absolute;
        left: 50%;
        bottom: 50px;
        transform: translate(-50%, 0);
        background:#24A3FF;
        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
        border-radius: 12px;
        color: white;
        padding: 16px;
        font-weight: bold;
        font-size: 14px;
        line-height: (17/14);
        text-decoration: none;
        min-width: 250px;
        text-align: center;
    
        &:hover {
            background: $blue;
        }
    }

    &__article {
        background: $white;
        overflow: hidden;
        
        border-radius: 8px;     
        margin-bottom: 40px;

        &__content {
            padding: 20px;
        }

        img {
            margin-bottom: 20px;
            width: 100%;
            object-fit: cover;
        }       
    }
}